#onayla {
  background: rgb(27, 167, 78);
}
#iptal {  
  background: rgb(216, 50, 50);
}
#exit:hover{
  background: rgba(255, 56, 56,1.0);
}
#minimized:hover{
  background: rgb(255, 159, 26);
}
QPushButton{
  border-radius: 7px ;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
#iptal:hover {
  background: rgba(216, 38, 38, 0.6);
}
#onayla:hover {
  background: rgba(27, 167, 78,0.6);
}
QWidget {
  background: rgb(32, 30, 30);
  color: aliceblue;
}
QLabel   {
  font-size: 16px;
  font-weight: bold;
}
QLineEdit {
  border: 1px solid darkgrey;
  border-radius: 7px;
  padding: 1 6px;
  font-size: 18px;
}
QMessageBox QLabel {
  font-size:20px;
  color: white;
}
QMessageBox QPushButton {
  background:rgba(255, 56, 56,1.0)
}
QMessageBox QPushButton:hover {
  background:rgba(255, 56, 56,0.6)
}
QRadioButton {
  font-size: 16px;
}
QRadioButton:checked {
  border: 1px solid rgb(101, 236, 101);
  border-radius: 5px;
}
QRadioButton::indicator {
  color : transparent;
  background:transparent;
  width: 1px;
  height: 1px;
}