#onayla {
  background-color: rgb(4, 170, 109);
}
#iptal {  
  background-color: rgb(244, 67, 54);
}
#exit:hover{
  background-color: rgb(252, 49, 46);
}
#minimized:hover{
  background-color: #fdb52f;
}
QPushButton{
  border-radius: 7px ;
  font-size: 20px;
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 4px;
}
#iptal:hover {
  background-color: rgba(244, 67, 54,0.6);
  border-style: inset;
}
#onayla:hover {
  background-color: rgba(4, 170, 109,0.6);
  border-style: inset;
}
QWidget {
  background-color: rgb(26, 26, 26);
  color: aliceblue;
}
QLabel   {
  font-size: 16px;
  font-weight: bold;
}
QLineEdit {
  border: 1px solid darkgrey;
  border-radius: 7px;
  padding: 0 8px;
  font-size: 18px;
}
QMessageBox QLabel {
  font-size:20px;
  color: white;
}
QMessageBox QPushButton {
  background-color:rgb(244, 67, 54)
}
QMessageBox QPushButton:hover {
  background-color:rgba(244, 67, 54,0.6)
}