#onayla {
  background-color: rgb(51, 199, 72);
}
#iptal {  
  background-color: rgb(252, 64, 60);
}
#exit:hover{
  background-color: rgb(252, 49, 46);
}
#minimized:hover{
  background-color: #fdb52f;
}
QPushButton{
  border-radius: 7px ;
  font-size: 20px;
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 4px;
}
QPushButton#iptal:hover {
  background-color: rgba(252, 90, 86, 0.6);
  border-style: inset;
}
QPushButton#onayla:hover {
  background-color: rgba(51, 199, 72,0.6);
  border-style: inset;
}
QWidget {
  background-color: rgb(26, 26, 26);
  color: aliceblue;
}
#soru1  {
  font-size: 18px;
}
#soru2 {
  font-size: 18px;
}
QLineEdit {
  border: 1px solid darkgrey;
  border-radius: 7px;
  padding: 0 8px;
  font-size: 18px;
}